@import "bootstrap";

$navicon_height: 4em;
$front_title_offset: 12em;
$section_padding: 4em;
$loc_chart_size: 20vw;
$shade: #505050;
$border_radius: 0.25em;

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.8658vw;
  line-height: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

#title > h3 {
  margin-bottom: 1em;
}

#promo {
  background: $shade url("../img/background.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  width: 100vw;
  height: 95vh;
  min-height: 30vw;
  max-height: 95vh;
  position: relative;
}

section {
  color: white;
  position: relative;
  max-height: 50vw;
  width: 100vw;
}

.boast {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 $section_padding $section_padding;
  width: 50%;
}

.boast h2 {
  @extend .fabrica;
  margin-bottom: 1em;
}

.boast p {
  @extend .boast-content;
  font-size: 2em;
  font-weight: bold;
}

.boast-content {
  color: #b7b7b7;
  @extend .infinity;
}

.parallax {
  height: 90vh;
  background-attachment: fixed !important;
  background-blend-mode: multiply;
  background-size: cover !important;
}

.details {
  background-color: white;
  max-height: none;
  padding: $section_padding;
  color: black;
  font-size: 2em;
  @extend .fabrica;
}

#doneright {
  background: $shade url("../img/weights.png")
}

#contributions {
  background: $shade url("../img/constellation.jpg")
}

#hadoop {
  background: $shade url("../img/elephants.jpg")
}

#velesforge {
  background: $shade url("../img/collaboration.svg")
}

nav {
  position: fixed;
  width: 100vw;
  height: $navicon_height * 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
  line-height: $navicon_height;
  z-index: 10;
}

#links {
  position: absolute;
  right: $front_title_offset;
}

.toplink {
  color: rgba(255, 255, 255, 0);
  display: inline-block;
}

.toplink > img {
  width: $navicon_height;
  height: $navicon_height;
  object-fit: contain;
  opacity: 0.6;
  display: inline-block;
}

.toplink > img:hover {
  opacity: 1.0;
}

#link-gerrit {
  margin-left: 0.5em;
}

#link-forge {
  margin-left: -0.5em;
}

.toplink:hover::after {
  content: attr(hint);
  display: inline-block;
  position: absolute;
  left: 26em;
  top: 0.25em;
  color: white;
  font-family: 'Fabrica', arial, sans-serif;
}

@font-face {
  font-family: 'Fabrica';
  src: url('../fonts/Fabrica.otf');
}

@font-face {
  font-family: 'Infinity';
  src: url('../fonts/Infinity.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#title {
  position: absolute;
  left: $front_title_offset;
  bottom: 1em;
  width: calc(100vw - #{$front_title_offset} * 2);
  color: white;
}

.fabrica {
  font-family: 'Fabrica', arial, sans-serif;
}

.infinity {
  font-family: 'Infinity', arial, sans-serif;
  letter-spacing: 0.075em;
}

.ubuntu-mono {
  font-family: 'Ubuntu Mono', monospace;
}

#svg-samsung {
  width: 6em;
  display: inline-block;
  vertical-align: middle;
}

a:hover {
  color: white;
}

.download {
  @extend .fabrica;
  font-size: 1.75em;
  display: inline-block;
  border: 2px white solid;
  border-radius: $border_radius;
  padding: 0.5em 1em 0.4em 1em;
  color: white;
}

.download:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.ubuntu-download {
  background: none;
  color: white;
  font-size: 1.5em;
  border-radius: $border_radius;
  display: inline-block;
}

#locpie-container {
  float: right;
  max-width: 20vw;
  margin-left: $section_padding;
  margin-bottom: $section_padding;
  text-align: center;
}

#locpie-container > h4 {
  @extend .fabrica;
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
}

#locpie {
  position: relative;
  width: $loc_chart_size;
  height: $loc_chart_size;
  margin-bottom: 1em;
}

.pie-tip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255, 255, 255, .97);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  transform: all .3s;
  pointer-events: none;

}

.pie-tip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, .95);
  line-height: 0;
}

#locpie-legend {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: $border_radius;
  padding: 0 0.25em 0.25em 0.25em;
  display: inline-block;
  text-align: left;
}

.locpie-legend-record::before {
  content: "";
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.1em;
  width: 1em;
}

$colors: #3366cc #ff9900 #dc3912 #109618 #990099 #0099c6 #dd4477 #66aa00;
@for $i from 1 through length($colors) {
  .lp#{$i}::before {
    background-color: nth($colors, $i);
  }
}

.locpie-legend-record {
  padding: 0.125em 0 0.125em 1.5em;
  font-size: 0.5em;
  position: relative;
  display: inline-block;
}

#bottom {
  background-color: black;
}

#deps {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 55vw;
  object-fit: cover;
}

#loader-sample {
  font-size: 0.4em;
  @extend .ubuntu-mono;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: relative;
  overflow: visible;
  margin: 0;
}

.log-info {
  color: #34e2e2;
  font-weight: bold;
}

.log-debug {
  color: #d3d7cf;
}

.log-success {
  color: #8ae234;
  font-weight: bold;
}

#loader-stats {
  display: flex;
  flex-direction: row;
}

#loader-stats-boast {
  flex: auto;
  margin-top: 8em;
  margin-right: 1em;
  line-height: 1.2;
  width: 50%;
}

.log-annotation {
  position: absolute;
  right: calc(100% + 1em);
  color: black;
  @extend .infinity;
  font-weight: bold;
  font-size: 1.5em;
  padding-right: 0.2em;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%,
                                rgba(0, 0, 0, 1) 100%) 1 100%;
}

.log-annotation::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: calc(100% + 2px);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.log-annotation::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, #000 0%, #000 75%, #fff 75.001%, #fff 100%);
  width: 1.2em;
  height: 2px;
  top: calc(50% - 1px);
  margin-left: 0.3em;
}