body {
    margin: 0;
    overflow: hidden;
    background: darkgray url("background.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100vw;
    height: 8em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
    line-height: 4em;
}

#links {
    position: absolute;
    left: 12em;
}

.toplink > img {
    width: 4em;
    height: 4em;
    object-fit: contain;
    opacity: 0.6;
    display: inline-block;
}

.toplink > img:hover {
    opacity: 1.0;
}

.toplink:hover::after {
    display: inline-block;
    position: absolute;
    left: 22em;
    vertical-align: middle;
    color: white;
    font-family: 'Fabrica', arial, sans-serif;
}

#link-github:hover::after {
    content: "GitHub";
}

#link-gerrit:hover::after {
    content: "Gerrit";
}

#link-jenkins:hover::after {
    content: "Jenkins\0000a0CI";
}

#link-forge:hover::after {
    content: "VelesForge";
}

#link-docs:hover::after {
    content: "Documentation";
}

@font-face {
    font-family: 'Fabrica';
    src: url('Fabrica.otf');
}

@font-face {
    font-family: 'Infinity';
    src: url('Infinity.ttf');
}

#title {
    position: absolute;
    left: 12em;
    top: 50%;
    color: white;
    font-family: 'Fabrica', arial, sans-serif;
}

.infinity {
    font-family: 'Infinity', arial, sans-serif;
    letter-spacing: 0.075em;
}

h1 {
    font-size: 80pt;
    margin: 0;
}
h2 {
    font-size: 40pt;
    margin-top: 0.5em;
}

#samsung {
    width: 6em;
    display: inline-block;
    vertical-align: middle;
}