@font-face {
    font-family: "Raleway";
    src: url(Raleway-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(Raleway-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic
}