@font-face {
    font-family: "Univers LT 49 Light Ultra Condensed";
    src: url("Univers\ LT\ 49\ Light\ Ultra\ Condensed.woff2") format("woff2");
    font-weight: regular;
    font-style: normal;
}