<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <!-- build:css css/slanding.min.css -->
  <link rel="stylesheet" type="text/css" href="../build/css/slanding.css"/>
  <!-- endbuild -->
</head>

{% macro toplink(id, hint, href, img) %}
<a id="link-{{ id }}" class="toplink" hint="{{ hint }}" href="{{ href }}">
  <img src="img/{{ img }}.svg" id="svg-{{ img }}">
</a>
{% endmacro %}

<body>
  <nav>
    <div id="links">
      {{ toplink("github", "GitHub", "", "octocat") }}
      {{ toplink("gerrit", "Gerrit&nbsp;Code&nbsp;Review", "https://velesnet.ml/gerrit", "diffy") }}
      {{ toplink("jenkins", "Jenkins&nbsp;CI", "https://velesnet.ml/jenkins", "jenkins") }}
      {{ toplink("forge", "VelesForge", "https://velesnet.ml/forge", "forge") }}
      {{ toplink("benchmarks", "Benchmarks", "https://velesnet.ml/benchmarks", "chart")}}
      {{ toplink("docs", "Documentation", "https://velesnet.ml/docs", "manual") }}
    </div>
  </nav>
  <section id="promo">
    <div id="title">
      <h1 class="fabrica">{% if lang == "en" %}
        The VELES
        {% else %}
        VELES
        {% endif %}
      </h1>
      <h2>{% if lang not in ["ru", "ko"] %}
        Distributed Machine Learning Platform for HPC
      {% elif lang == "ko" %}
        분산 기계 학습 플랫폼
      {% elif lang == "ru" %}
        Высокопроизводительная распределённая платформа для машинного обучения
      {% endif %}</h2>
      <br><br>
      <h3 {% if lang == "en" %}
          class="boast-content"
      {% else %}
          class="boast-content fabrica"
      {% endif %}
      >
        {% macro samsung() %}
        <img src="img/samsung.svg" id="svg-samsung">
        {% endmacro %}

        {% if lang not in ["ru", "ko"] %}
        You change parameters. Veles takes the rest.
        {% elif lang == "ko" %}
        당신은 모델 매개 변수를 변경합니다. VELES 모든 나머지합니다.
        {% elif lang == "ru" %}
        Вы изменяете параметры. VELES позаботится об остальном.
        {% endif %}
        <br>
        {% if lang not in ["ru", "ko"] %}
        Developed by {{ samsung() }} Now open source.
        {% elif lang == "ko" %}
        {{ samsung() }}에 의해 개발.
        {% elif lang == "ru" %}
        Разработано в {{ samsung() }} Теперь код открыт.
        {% endif %}
      </h3>
    </div>
  </section>
  <section class="details">
    <div>
      Lorem ipsum.
    </div>
  </section>
  <section id="doneright" class="parallax">
    <div class="boast">
      <h2>Neural networks done right.</h2>
      <p>veles.znicz NN engine focuses on performance and hackability. It has little hard-coded entities and enables training
        all the widely recognized topologies, such as fully connected nets, convolutional nets, reccurent nets.</p>
      <p>In-depth introspection and rich debugging facilities help developing nets fast and predictable.</p>
    </div>
  </section>
  <section class="details">
    <div>
      <div id="loc-pie">
        <h4>Lines of Code</h4>
        <div id="loc-pie-container">
          <div class="pie" data-start="0" data-value="30"></div>
          <div class="pie" data-start="30" data-value="30"></div>
          <div class="pie" data-start="60" data-value="40"></div>
          <div class="pie pie-180" data-start="100" data-value="260"></div>
        </div>
      </div>
      Veles platform is built on top of many open source projects.<br>
      The core engine depends on
      <ul>
        <li>Twisted, PyZMQ, Paramiko</li>
        <li>SciPy stack: Numpy, SciPy, Matplotlib</li>
        <li>OpenCV</li>
        <li>opencl4py, cuda4py</li>
        <li>Jinja2</li>
        <li>Graphviz</li>
      </ul>
      opencl4py and cuda4py are homegrown "written from scratch" bindings
      powered by CFFI. Web subsystem depends on
      <ul>
        <li>Tornado, Motor</li>
        <li>node.js stack</li>
        <li>viz.js</li>
      </ul>
      Native executor depends on
      <ul>
        <li>Boost</li>
        <li>libarchive</li>
        <li>JsonCpp</li>
        <li>libsimd</li>
      </ul>
      Java integration uses
      <ul>
        <li>JZMQ</li>
        <li>Pyrolite</li>
        <li>Maven stack</li>
      </ul>
      <cite>If I have seen further it is by standing on the shoulders of giants.</cite>
    </div>
  </section>
  <section id="contributions" class="parallax">
    <div class="boast">
      <h2>Contributions are welcome.</h2>

      <p>Send pull requests on GitHub, they will be automatically converted into
        <a href="https://velesnet.ml/gerrit">Gerrit patchsets</a>.
        Watch how nightly tests run in <a href="https://velesnet.ml/jenkins">Jenkins</a>.</p>

      <p>There is plenty of work to do: port to Windows and Mac OS X, add CuDNN
        support, extend reporting options, improve the distributed operation and
        many, many more.</p>
    </div>
  </section>
  <section class="details">
    <div>
      Units, architechture.
    </div>
  </section>
  <section id="velesforge" class="parallax">
    <div class="boast">
      <h2>Share your experiments.</h2>

      <p>Upload your workflows to <a href="https://velesnet.ml/forge">Forge</a>.
        Access others' work. See what Veles is capable of.</p>
    </div>
  </section>

  <section class="details">
    <div>
      Automatic datasets stats. Loader reports.
    </div>
  </section>

  <section id="publish" class="parallax">
    <div class="boast">
      <h2>Publish the results.</h2>

      <p>Receive automatic reports when the training ends.</p>
    </div>
  </section>

  <section class="details">
    <div>
      100500 plotting units provide comprehensive insight on the training process.
    </div>
  </section>

  <section id="bboxer" class="parallax">
    <div class="boast">
      <h2>Create your own image datasets, fast.</h2>

      <p>Veles includes "bboxer", a collaborative tool for image dataset markup.</p>
    </div>
  </section>

  <section class="details">
    <div>
      Use Veles within IPython or IPython Notebook.
    </div>
  </section>

  <section id="hadoop" class="parallax">
    <div class="boast">
      <h2>Veles and Hadoop are friends.</h2>

      <p>Veles is bundled with Mastodon, a subproject which integrates it with
      any Java application. Mastodon includes a simple load balancer between Java
      nodes and Veles slaves.</p>

      <p>Extract features in Hadoop and classify objects in Veles. Analyze data
      in Veles and pass the results next through the pipeline.</p>
    </div>
  </section>

  <section class="details">
    <div>
      Veles is cluster friendly. Deploy the exported tarball, initialize the pyenv
      environment and you are ready to go - with just 2 simple commands.
      Docker.
    </div>
  </section>

  <!-- build:js js/jquery.min.js -->
  <script defer src="libs/jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/slanding.min.js -->
  <script defer src="../build/js/scroll.js"></script>
  <!-- endbuild -->
</body>
</html>
