<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8"/>
  <!-- build:css css/slanding.min.css -->
  <link rel="stylesheet" type="text/css" href="libs/github-fork-ribbon-css/gh-fork-ribbon.css"/>
  <link rel="stylesheet" type="text/css" href="../build/css/slanding.css"/>
  <link rel="stylesheet" type="text/css" href="../build/css/ipython.css"/>
  <link rel="stylesheet" type="text/css" href="../build/css/countdown.css"/>
  <!-- endbuild -->
</head>

{% macro toplink(id, hint, href, img) %}
<a id="link-{{ id }}" class="toplink" hint="{{ hint }}" href="{{ href }}">
  <img src="img/{{ img }}.svg" id="svg-{{ img }}">
</a>
{% endmacro %}

{% set github = "https://github.com/samsung/veles" %}

{% macro download() %}
<a class="download" href="{{ github }}/releases">Download</a>
{% endmacro %}

<body>
  <nav>
    <div id="links">
      {{ toplink("github", "GitHub", "{{ github }}", "octocat") }}
      {{ toplink("gerrit", "Gerrit&nbsp;Code&nbsp;Review", "https://velesnet.ml/gerrit", "diffy") }}
      {{ toplink("jenkins", "Jenkins&nbsp;CI", "https://velesnet.ml/jenkins", "jenkins") }}
      {{ toplink("forge", "VelesForge", "https://velesnet.ml/forge", "forge") }}
      {{ toplink("benchmarks", "Benchmarks", "https://velesnet.ml/benchmarks", "chart")}}
      {{ toplink("docs", "Documentation", "https://velesnet.ml/docs", "manual") }}
    </div>
  </nav>
  <div class="github-fork-ribbon-wrapper right" style="visibility: hidden; opacity: 0;">
      <div class="github-fork-ribbon">
          <a href="{{ github }}">Fork me on GitHub</a>
      </div>
  </div>
  <section id="promo">
    <video autoplay="autoplay" data-role="video" loop="loop" width="100%">
        <source src="video/veles.mp4" type="video/mp4">
        <source src="video/veles.webm" type="video/webm">
    </video>
    <div id="title">
      <h1 class="fabrica">{% if lang == "en" %}
        The VELES
        {% else %}
        VELES
        {% endif %}
      </h1>
      <h2>{% if lang not in ["ru", "ko"] %}
        Distributed platform for rapid Deep learning application development.
      {% elif lang == "ko" %}
        분산 기계 학습 플랫폼
      {% elif lang == "ru" %}
        Высокопроизводительная распределённая платформа для машинного обучения
      {% endif %}</h2>
      <br><br>
      <h3 {% if lang == "en" %}
          class="boast-content"
      {% else %}
          class="boast-content fabrica"
      {% endif %}
      >
        {% macro samsung() %}
        <img src="img/samsung.svg" id="svg-samsung">
        {% endmacro %}

        {% if lang not in ["ru", "ko"] %}
        You change parameters. Veles takes the rest.
        {% elif lang == "ko" %}
        당신은 모델 매개 변수를 변경합니다. VELES 모든 나머지합니다.
        {% elif lang == "ru" %}
        Вы изменяете параметры. VELES позаботится об остальном.
        {% endif %}
        <br>
        {% if lang not in ["ru", "ko"] %}
        Developed and released as Open Source by {{ samsung() }}
        {% elif lang == "ko" %}
        {{ samsung() }}에 의해 개발.
        {% elif lang == "ru" %}
        Открытый проект, разработанный в {{ samsung() }}
        {% endif %}
      </h3>
      {{ download() }}
    </div>
  </section>
  <section class="details" id="intro">
    <div>
      <h3>Written on Python, uses OpenCL or CUDA, employs Flow-Based Programming.</h3>
      <ul id="steps">
        <li><img src="img/intro_1.svg">Deploy VELES on Notebook or Cluster with a single command</li>

        <li><img src="img/intro_2.svg">Create the model from >250 optimized units
        </li>

        <li><img src="img/intro_3.svg">Analyze and serve the dataset on the go using Loaders</li>

        <li><img src="img/intro_4.svg">Train it on PC or High Performance Cluster</li>

        <li>Interactively monitor the training process<img src="img/intro_5.svg">
        </li>

        <li>Publish the results<img src="img/intro_6.svg">
        </li>

        <li>Automatically extract the trained model as an application<img src="img/intro_7.svg"></li>

        <li>Run it in the cloud<img src="img/intro_8.svg">
        </li>
      </ul>
    </div>
  </section>
  <section id="doneright">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Neural networks done right.</h2>
      <p>veles.znicz NN engine focuses on performance and flexibility. It has little hard-coded entities and enables training
         of all the widely recognized topologies, such as fully connected nets, convolutional nets, reccurent nets etc.</p>
      <p>In-depth introspection and rich debugging facilities helps to develop nets quickly with predictable result.</p>
    </div>
  </section>
  <section class="details">
    <div class="with-picture" id="master-slave">
      <div class="description" id="master-slave-desc">
        <p>ZeroMQ-based star topology of distributed operation handles up to 100 nodes, depending on the task.
          Optionally, some compression can be applied. The state of things is sent to the Web Status Server.</p>
      </div>
      <div class="picture" id="master-slave-picture">
        <object type="image/svg+xml" data="img/ms.svg" data-src="img/ms.svg" id="ms"></object>
        <object type="image/svg+xml" data="img/king.svg" id="king"></object>
      </div>
    </div>
  </section>
  <section id="velesforge">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Share your experiments.</h2>

      <p>Upload your workflows to <a href="https://velesnet.ml/forge">Forge</a>.
        Access others' work. See what Veles is capable of.</p>
    </div>
  </section>
  <section class="details">
    <div>
      Veles is usable from IPython or IPython Notebook.
      {% include "ipython.html" %}
    </div>
  </section>
  <section id="publish">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Publish the results.</h2>

      <p>Receive automatic reports when the training ends. The supported formats include Atlassian Confluence; PDF,
        Latex and HTML backends are not yet implemented - but soon will be.</p>
    </div>
  </section>
  <section class="details">
    <div>
      Tens of plotting units provide comprehensive insight into the training process.
      <div id="plotters-container">
        <object type="image/svg+xml" data="img/plotters.svg" id="plotters"></object>
        <iframe id="viewerjs" src="/viewerjs/#../sample.pdf" allowfullscreen webkitallowfullscreen></iframe>
      </div>
    </div>
  </section>
  {% macro digit(series, index) %}
  <svg class='digit' xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="img/countdown.svg#cd_{{ index }}_{{ series }}"/>
  </svg>
  {% endmacro %}
  {% macro digits(base, size) %}
  <div class='digit-wrapper'>
    {{ digit(base, 0) }}
    {% for i in range(size) | reverse %}
    {{ digit(base, i) }}
    {% endfor %}
  </div>
  {% endmacro %}
  <section id='countdown'>
    <h2>You've got only</h2>
    <div class="countdown-container">
      <div class='countdown-part-container'>
        <div class='countdown-part hours tens'>
          {{ digits(0, 3) }}
        </div>
        <div class='countdown-part hours ones'>
          {{ digits(1, 10) }}
        </div>
      </div>
      <div class='countdown-delimiter'><span>:</span></div>
      <div class='countdown-part-container'>
        <div class='countdown-part minutes tens'>
          {{ digits(2, 6) }}
        </div>
        <div class='countdown-part minutes ones'>
          {{ digits(3, 10) }}
        </div>
      </div>
      <div class='countdown-delimiter'><span>:</span></div>
      <div class='countdown-part-container'>
        <div class='countdown-part seconds tens'>
          {{ digits(4, 6) }}
        </div>
        <div class='countdown-part seconds ones'>
          {{ digits(5, 10) }}
        </div>
      </div>
    </div>
    <h2>till the end of day to </h2>
    {{ download() }}
    <span id="countdown-notice">...and then the next day will come.</span>
  </section>
  <section id="bboxer">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Create your own image datasets, fast.</h2>

      <p>Veles includes "bboxer", a collaborative tool for image dataset markup.</p>
    </div>
  </section>
  <section class="details" id="loader-stats">
    <div id="loader-stats-boast">
      Veles loaders provide automatic dataset analysis.<br>
      Solve your task without having to write how to load the data.
    </div>
    <pre id="loader-sample">
<div class="log-annotation">Requires no data preprocessing</div><span class="log-info">INFO</span>:MnistLoader:Loading from original MNIST files...
<span class="log-info">INFO</span>:MnistLoader:Minibatch size is set to 88
<div class="log-annotation">See the number of samples in each set</div><span class="log-info">INFO</span>:MnistLoader:Samples number: test: 0, validation: 10000, train: 60000
<span class="log-debug">DEBUG:MnistLoader:Shuffling, remaining limit is 4294967294</span>
<span class="log-debug">DEBUG:MnistLoader:Shuffled train set</span>
<div class="log-annotation">Various data normalization algorithms</div><span class="log-info">INFO</span>:MnistLoader:Normalizing to linear...
<span class="log-debug">DEBUG:MnistLoader:Data range: (0.000000, 255.000000), </span>
<span class="log-debug">DEBUG:MnistLoader:Normalized data range: (-1.000000, 1.000000), </span>
<div class="log-annotation">The number of classes in the raw data</div><span class="log-info">INFO</span>:MnistLoader:There are 10 unique labels
<span class="log-info">INFO</span>:MnistLoader:train label cardinalities: min: 5421 (&quot;5&quot;), max: 6742 (&quot;1&quot;), avg: 6000, σ: 322 (5%)
<span class="log-debug">DEBUG:MnistLoader:Detailed train label stats:
+-------+-------------+------+---------------------------+
| Label | Cardinality |    % | Histogram                 |
+-------+-------------+------+---------------------------+
|   0   |        5923 |  9.9 | *********************     |
|   1   |        6742 | 11.2 | ************************* |
|   2   |        5958 |  9.9 | **********************    |
|   3   |        6131 | 10.2 | **********************    |
|   4   |        5842 |  9.7 | *********************     |
|   5   |        5421 |  9.0 | ********************      |
|   6   |        5918 |  9.9 | *********************     |
|   7   |        6265 | 10.4 | ***********************   |
|   8   |        5851 |  9.8 | *********************     |
|   9   |        5949 |  9.9 | **********************    |
+-------+-------------+------+---------------------------+</span>
<div class="log-annotation">Calculates the cardinality standard deviation to reflect the balance</div><span
            class="log-info">INFO</span>:MnistLoader:validation label cardinalities: min: 892 (&quot;5&quot;), max: 1135 (&quot;1&quot;), avg: 1000, σ: 59 (5%)
<span class="log-debug">DEBUG:MnistLoader:Detailed validation label stats:
+-------+-------------+------+---------------------------+
| Label | Cardinality |    % | Histogram                 |
+-------+-------------+------+---------------------------+
|   0   |         980 |  9.8 | *********************     |
|   1   |        1135 | 11.3 | ************************* |
|   2   |        1032 | 10.3 | **********************    |
|   3   |        1010 | 10.1 | **********************    |
|   4   |         982 |  9.8 | *********************     |
|   5   |         892 |  8.9 | *******************       |
|   6   |         958 |  9.6 | *********************     |
|   7   |        1028 | 10.3 | **********************    |
|   8   |         974 |  9.7 | *********************     |
|   9   |        1009 | 10.1 | **********************    |
+-------+-------------+------+---------------------------+</span>
<div class="log-annotation">Does a simple test on mutual set balance</div><span class="log-info">INFO</span>:MnistLoader:<span
            class="log-success">OK: train and validation labels have the same distributions (Χ-square test's p-value is 1.000)</span>
<span class="log-info">INFO</span>:MnistLoader:Will try to store the entire dataset on the device
<span class="log-debug">DEBUG:MnistLoader:Used the cached fullbatch_loader for engine &quot;ocl&quot;</span></pre>
  </section>
  <section id="hadoop">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Veles and Hadoop are friends.</h2>

      <p>Veles is bundled with Mastodon, a subproject which integrates it with
        any Java application. Mastodon includes a simple load balancer between Java
        nodes and Veles slaves.</p>

      <p>Extract features in Hadoop and classify objects in Veles. Analyze data
        in Veles and pass the results next through the pipeline.</p>
    </div>
  </section>
  <section class="details">
    <div class="with-picture" id="veles-arch">
      <div class="description">
        <p>Machine learning model execution goes in a <em>workflow</em>, which consists of <em>units</em> and child
          workflows.
          Units represent logically independent and integral algorithm parts. E.g. single network layer is a unit; the
          gradient descent step is another unit.</p>

        <p>Veles uses a typical data driven approach, where control flow is ruled by data processing though control flow
          links
          between units.</p>

        <p>Such architecture allows easily manageable data parallel and model parallel execution of models.</p>
      </div>
      <object type="image/svg+xml" data="img/workflow.svg" id="workflow" class="picture"></object>
    </div>
  </section>
  <section id="packed-features">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Packed with features.</h2>

      <p>Veles is cluster and Docker friendly. Deploy the exported tarball, initialize the pyenv
        environment and you are ready to go - with just 2 simple commands.</p>

      <p>Manhole feature allows to execute an interactive IPython session in the running process context at any
        time.</p>

      <p>Live reload feature allows changing the Python code without restarting the process.</p>

      <p>And many, many more...</p>
    </div>
  </section>
  <section class="details">
    <div>
      <div id="locpie-container">
        <h4>Lines of Code</h4>

        <div id="locpie"></div>
        <div id="locpie-legend">
          {% for name in ["Java", "SASS", "HTML", "OpenCL/CUDA", "Javascript", "C/C++", "Python (tests)", "Python
          (platform)"] %}
          <div class="lp{{ loop.index }} locpie-legend-record">{{ name }}</div>
          <br>
          {% endfor %}
        </div>
      </div>
      Veles platform is built on top of many open source projects.<br>
      <img id="deps" src="img/deps.png">
      <blockquote id="newton">
        <p>If I have seen further it is by standing on the shoulders of giants.</p>
        <footer>Isaac Newton</footer>
      </blockquote>
    </div>
  </section>
  <section id="contributions">
    <div class="parallax"></div>
    <div class="boast">
      <h2>Contributions are welcome.</h2>

      <p>Send pull requests on GitHub, they will be automatically converted into
        <a href="https://velesnet.ml/gerrit">Gerrit patchsets</a>.
        Watch how nightly tests run in <a href="https://velesnet.ml/jenkins">Jenkins</a>.</p>

      <p>There is plenty of work to do: port to Windows and Mac OS X, add CuDNN
        support, extend reporting options, improve the distributed operation and
        many, many more.</p>
    </div>
  </section>
  <footer id="bottom">
    {{ download() }}
    <br><br>
    Copyright Samsung Electronics Co., Ltd., 2015.
  </footer>

  <!-- build:js js/jquery.min.js -->
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/slanding.min.js -->
  <script src="../build/js/scroll.js"></script>
  <script src="../build/js/download.js"></script>
  <script src="../build/js/jquery.drawPieChart.js"></script>
  <script src="../build/js/locpie.js"></script>
  <script src="../build/js/offset_log_annotations.js"></script>
  <script src="libs/svg-injector/svg-injector.js"></script>
  <script src="../build/js/svg_inject.js"></script>
  <script src="libs/modernizr/modernizr.js"></script>
  <script src="../build/js/countdown.js"></script>
  <!-- endbuild -->
</body>
</html>
